body {
    background-color: #707070;
    min-height: 100vh;
}
.stickFoot{
    color: #969a9d;
    background-color: #212529;
    position: sticky;
    top: 100%;
}
.pr{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}
.sr{
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}
.prr{
    position: relative;
    height: 235px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px lightgray;
}
.prr img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: 5px;
    
}
.prr p{
    text-align: center;
    font-size: 20px;
}
h3{
    text-align: center;
}
.loginform, .registerform{
    
    margin-left: 40%;
    margin-top: 75px;
}

