body {
    background-color: #707070;
    min-height: 100vh;
}
.stickFoot{
    color: #969a9d;
    background-color: #212529;
    position: sticky;
    top: 100%;
}
.row{
    width: auto;
}
.pr{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.prr{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px lightgray;
}
.prr img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
